@tailwind base;
@tailwind components;
@tailwind utilities;

.speech-bubble {
  position: relative;
}

.speech-bubble:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 52px solid transparent;
  border-top-color: #fff;
  border-bottom: 0;
  border-left: 0;
  margin-left: 0px;
  margin-bottom: -52px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 15px;
}

/* :after svg wavebanner background  and :before svg wavebottom class wavedivider  */
.wavedivider {
  position: relative;
  width: 100%;
  height: 200px;

  margin-top: -1px;
}
.wavedivider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: url(./public/wavebanner.svg) no-repeat;
  transform: translateY(0px);
  z-index: 1;
}
